/*Main*/
* { margin: 0; padding: 0 }

:root {
    --four: #F0F0F0;
    --three: #4F709C;
    --two: #E5D283;
    --one: #213555;
}

body {
    background-color: var(--four);
    font-family: "Quicksand";
    color: var(--two);
}

h1 {
    font-size: 60px;
}

.banner {
    text-align: center;
}

/*Task*/

button, input[type="button"] {
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    background-color: var(--three);
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-style: inherit;
}

input, span[contenteditable="true"] {
    outline: none;
    padding: 5px;
    border-radius: 25px;
}

input[type="text"] {
    background: transparent;
    color: inherit;
    font-size: 30px;
    font-style: bold;
    font: inherit;
    border: none;
}

input[type="date"] {
    border: none;
    background: transparent;
    color: inherit;
}

::placeholder {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-style: inherit;
}

.task-box {
    background-color: var(--three);
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    position: relative;
}

.task-input {
    max-width: 192px;
    border: none !important;
    background: transparent;
    color: var(--two);
    height: auto;
}

.task-close {
    border: none;
    height: 20px;
    position:absolute;
    top: 5px;
    right: 10px;
}

.dropdown {
    border: none;
    color: var(--two);
    background: transparent;
    outline: none;
    scroll-behavior: smooth;
}

.dropdown option {
    background: var(--three); 
    color: var(--two); 
    outline: none;
    border: none;
}

#clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

button #clear {
    text-align: center;
    float: right;
}

.add-task {
    background-color: var(--three);
    border: none;
    border-radius: 25px;
    padding: 20px;
    margin: 40px;
}

#add-task-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-button {
    background-color: var(--three);
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    position: absolute;
    top: 113px;
    
}

#tasks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.overdue {
    color: #FF0000;
    font-size: 20px;
    top: 0px;
    left: 10px;
}

.due-soon {
    color: #EDD41B;
    font-size: 20px;
    top: 0px;
    left: 10px;
}

.fa-check {
    color: #4FE83B;
    font-size: 20px;
    top: 0px;
    left: 10px;
}
